@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-xl {
  font-size: 42px !important;
}

.sidebar {
  background-color: #DBDFEA;
  transform: translateX(-100%);
  z-index: 1000;
}

.sidebar-show {
  transform: translateX(0);
}

.color-purple {
  color: #8294C4;
}